Repository valeth/javelin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-stable, build-nightly, test-clippy

.gitlab-ci.yml:

image: "debian:stretch-slim"

stages:
  - prepare
  - build
  - test
  - publish

variables:
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"

.write_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo

.read_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo
    policy: pull

.toolchain-stable:
  extends: .read_cache
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default stable

.toolchain-nightly:
  extends: .read_cache
  allow_failure: true
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default nightly

####### Jobs #######

install-rust:
  extends: .write_cache
  stage: prepare
  script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates curl
    - curl https://sh.rustup.rs > rustup.sh
    - sh rustup.sh -y --default-host x86_64-unknown-linux-gnu
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup install ${RUST_STABLE_VERSION:-stable}
    - rustup install nightly
    - rustup component add clippy

build-stable:
  extends: .toolchain-stable
  stage: build
  script:
    - cargo build --no-default-features
    - cargo build --features "tls"
    - cargo build --features "hls"
    - cargo build --features "web"
    - cargo build
    - cargo test --tests
  only:
    changes:
      - Cargo.toml
      - Cargo.lock
      - src/**/*.rs

build-nightly:
  extends: .toolchain-nightly
  stage: build
  script:
    - cargo build
    - cargo test --tests
  only:
    changes:
      - Cargo.toml
      - Cargo.lock
      - src/**/*.rs

test-clippy:
  extends: .toolchain-stable
  stage: test
  allow_failure: true
  script:
    - cargo clippy
  only:
    changes:
      - src/**/*.rs

deploy-crates-io:
  extends: .toolchain-stable
  stage: publish
  script:
    - cargo publish --token $CRATES_IO_API_TOKEN
  only:
    - tags@valeth/javelin

Simplify HTTP file server
  src/web.rs
Due: build-stable, build-nightly, test-clippy

Add small JSON API for querying active streams
  Cargo.lock
  Cargo.toml
  src/web.rs
Due: build-stable, build-nightly, test-clippy

Update readme
  README.md
Due: none

Remove Nginx and use integrated webserver
  Dockerfile
  docker-compose.yml
  nginx.conf
Due: none

Change file cleanup strategy
  src/hls/file_cleaner.rs
  src/hls/m3u8.rs
Due: build-stable, build-nightly, test-clippy

Clean up HLS streaming directory when publishing
  Cargo.lock
  Cargo.toml
  src/hls/writer.rs
Due: build-stable, build-nightly, test-clippy

Update changelog
  CHANGELOG.md
Due: none

Update Cargo.toml
  Cargo.lock
  Cargo.toml
Due: build-stable, build-nightly

Update CI configuration
  .gitlab-ci.yml
Due: none

Update Cargo.toml
  Cargo.toml
Due: build-stable, build-nightly

Only clean up HLS directory on startup
  src/hls/server.rs
  src/hls/writer.rs
Due: build-stable, build-nightly, test-clippy

Update current playlist duration on removal
  src/hls/m3u8.rs
Due: build-stable, build-nightly, test-clippy

Add javelin-codec subcrate
  Cargo.lock
  Cargo.toml
  javelin-codec/Cargo.toml
  javelin-codec/src/aac.rs
  javelin-codec/src/aac/adts.rs
  javelin-codec/src/aac/config.rs
  javelin-codec/src/aac/packet.rs
  javelin-codec/src/avc.rs
  javelin-codec/src/avc/bitstream.rs
  javelin-codec/src/avc/dcr.rs
  javelin-codec/src/avc/nal.rs
  javelin-codec/src/avc/packet.rs
  javelin-codec/src/error.rs
  javelin-codec/src/lib.rs
  javelin-codec/src/utils.rs
  src/error.rs
  src/hls/transport_stream.rs
  src/hls/writer.rs
  src/main.rs
  src/media.rs
Due: build-stable, build-nightly, test-clippy

Only select used tokio features
  Cargo.toml
Due: build-stable, build-nightly

Update keywords and add categories
  Cargo.toml
Due: build-stable, build-nightly

Implement error handling for webserver
  src/web.rs
Due: build-stable, build-nightly, test-clippy

Split up webserver module
  src/main.rs
  src/web.rs
  src/web/api.rs
  src/web/server.rs
Due: build-stable, build-nightly, test-clippy

Fix stream activity API endpoint
  src/web/api.rs
Due: build-stable, build-nightly, test-clippy

Implement basic statistics API
  Cargo.lock
  Cargo.toml
  src/media.rs
  src/web/api.rs
  src/web/server.rs
Due: build-stable, build-nightly, test-clippy

Make web server address configurable
  src/args.rs
  src/config.rs
  src/web/server.rs
Due: build-stable, build-nightly, test-clippy

Add option to disable integrated web server
  src/args.rs
  src/config.rs
  src/main.rs
Due: build-stable, build-nightly, test-clippy

Add option to disable HLS support
  src/args.rs
  src/config.rs
  src/main.rs
Due: build-stable, build-nightly, test-clippy

Tweak application arguments
  src/args.rs
  src/config.rs
Due: build-stable, build-nightly, test-clippy

Set keepalive on TCP socket
  src/rtmp/server.rs
Due: build-stable, build-nightly, test-clippy

Remove previous publisher on republishing
  src/media.rs
  src/rtmp.rs
  src/rtmp/client.rs
  src/rtmp/event.rs
  src/rtmp/peer.rs
  src/shared.rs
Due: build-stable, build-nightly, test-clippy

Add configuration option for republishing action
  src/args.rs
  src/config.rs
  src/rtmp/event.rs
Due: build-stable, build-nightly, test-clippy

Enable "wrap_help" feature of clap
  Cargo.lock
  Cargo.toml
Due: build-stable, build-nightly

Reject publish and playback without app name
  src/rtmp/event.rs
Due: build-stable, build-nightly, test-clippy

Fix build and remove dead code
  src/media.rs
  src/rtmp/event.rs
Due: build-stable, build-nightly, test-clippy

Add back "dead code"
  src/media.rs
Due: build-stable, build-nightly, test-clippy

Update javelin-codec dependency
  Cargo.toml
Due: build-stable, build-nightly

Update Docker files
  .dockerignore
  Dockerfile
  docker.rb
Due: none

Add composition time to PTS
  javelin-codec/Cargo.toml
  javelin-codec/src/avc/packet.rs
Due: none

Add DTS to PES packet
  Cargo.lock
  Cargo.toml
  src/hls/transport_stream.rs
Due: build-stable, build-nightly, test-clippy

Add server-info API endpoint
  src/web/api.rs
Due: build-stable, build-nightly, test-clippy
