Repository valeth/javelin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-stable, build-nightly, test-clippy

build-stable:
  cache:
    key: $CI_COMMIT_REF_SLUG-rustup
    paths:
    - .rustup
    - .cargo
    policy: pull
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
  - export PATH="$CARGO_HOME/bin:$PATH"
  - rustup default stable
  stage: build
  script:
  ...

build-nightly:
  cache:
    key: $CI_COMMIT_REF_SLUG-rustup
    paths:
    - .rustup
    - .cargo
    policy: pull
  allow_failure: true
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
  - export PATH="$CARGO_HOME/bin:$PATH"
  - rustup default nightly
  ...

test-clippy:
  cache:
    key: $CI_COMMIT_REF_SLUG-rustup
    paths:
    - .rustup
    - .cargo
    policy: pull
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
  - export PATH="$CARGO_HOME/bin:$PATH"
  - rustup default stable
  stage: test
  ...

Add configuration file option for permitted keys
  .gitignore
  Cargo.lock
  Cargo.toml
  src/args.rs
  src/config.rs
Due: build-stable, build-nightly, test-clippy

Update GitLab CI configuration
  .gitlab-ci.yml
Due: none

Fix clippy warning
  src/rtmp/client.rs
Due: build-stable, build-nightly, test-clippy

Update changelog
  CHANGELOG.md
Due: none

Update Cargo.toml
  Cargo.lock
  Cargo.toml
Due: build-stable, build-nightly

Update Docker files
  Dockerfile
  docker-compose.yml
Due: none

Remove unused metadata from aac package
  javelin-codec/src/aac/adts.rs
  javelin-codec/src/aac/packet.rs
Due: none

Time out if nothing received for 5 seconds
  Cargo.lock
  src/error.rs
  src/rtmp/peer.rs
Due: build-stable, build-nightly, test-clippy

Send back remaining bytes after handshake
  src/rtmp/bytes_stream.rs
  src/rtmp/peer.rs
Due: build-stable, build-nightly, test-clippy

Make sure streams get cleared on error
  src/rtmp/event.rs
Due: build-stable, build-nightly, test-clippy

Chore: Update changelog and bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: build-stable, build-nightly

Revert faulty timeout and cleanup commits
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/error.rs
  src/rtmp/event.rs
  src/rtmp/peer.rs
Due: build-stable, build-nightly, test-clippy

Update readme and add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

Chore: Move application crate to subdirectory
  Cargo.lock
  Cargo.toml
  javelin/Cargo.toml
  javelin/src/args.rs
  javelin/src/config.rs
  javelin/src/error.rs
  javelin/src/hls.rs
  javelin/src/hls/file_cleaner.rs
  javelin/src/hls/m3u8.rs
  javelin/src/hls/server.rs
  javelin/src/hls/transport_stream.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/media.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/bytes_stream.rs
  javelin/src/rtmp/client.rs
  javelin/src/rtmp/event.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/server.rs
  javelin/src/shared.rs
  javelin/src/web.rs
  javelin/src/web/api.rs
  javelin/src/web/server.rs
Due: build-stable, build-nightly

Chore: Update crates and add rust-toolchain file
  Cargo.lock
  rust-toolchain
Due: build-stable, build-nightly

Chore: Group use import statements
  javelin/src/config.rs
  javelin/src/error.rs
  javelin/src/hls/file_cleaner.rs
  javelin/src/hls/m3u8.rs
  javelin/src/hls/server.rs
  javelin/src/hls/transport_stream.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/media.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/bytes_stream.rs
  javelin/src/rtmp/client.rs
  javelin/src/rtmp/event.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/server.rs
  javelin/src/shared.rs
  javelin/src/web/api.rs
  javelin/src/web/server.rs
Due: none

Chore: Update Gitlab CI configuration
  .gitlab-ci.yml
Due: none

HLS: Wrap bytes buffer in cursor explicitly
  javelin/src/hls/transport_stream.rs
Due: none

Rewrite AV format readers and writers
  Cargo.lock
  javelin-codec/Cargo.toml
  javelin-codec/src/aac.rs
  javelin-codec/src/aac/adts.rs
  javelin-codec/src/aac/common.rs
  javelin-codec/src/aac/config.rs
  javelin-codec/src/aac/error.rs
  javelin-codec/src/aac/packet.rs
  javelin-codec/src/avc.rs
  javelin-codec/src/avc/annexb.rs
  javelin-codec/src/avc/avcc.rs
  javelin-codec/src/avc/bitstream.rs
  javelin-codec/src/avc/config.rs
  javelin-codec/src/avc/dcr.rs
  javelin-codec/src/avc/error.rs
  javelin-codec/src/avc/nal.rs
  javelin-codec/src/avc/packet.rs
  javelin-codec/src/error.rs
  javelin-codec/src/flv.rs
  javelin-codec/src/flv/error.rs
  javelin-codec/src/flv/tag.rs
  javelin-codec/src/flv/tag/audio.rs
  javelin-codec/src/flv/tag/video.rs
  javelin-codec/src/lib.rs
  javelin-codec/src/macros.rs
  javelin/Cargo.toml
  javelin/src/error.rs
  javelin/src/hls/transport_stream.rs
  javelin/src/hls/writer.rs
Due: build-stable, build-nightly

Replace simplelog with fern
  Cargo.lock
  javelin/Cargo.toml
  javelin/src/error.rs
  javelin/src/main.rs
Due: build-stable, build-nightly

Make NotEnoughData errors more descriptive
  javelin-codec/src/aac/config.rs
  javelin-codec/src/aac/error.rs
  javelin-codec/src/avc/annexb.rs
  javelin-codec/src/avc/avcc.rs
  javelin-codec/src/avc/config.rs
  javelin-codec/src/avc/error.rs
  javelin-codec/src/flv/error.rs
  javelin-codec/src/flv/tag/audio.rs
  javelin-codec/src/flv/tag/video.rs
Due: none

Remove unused modules
  javelin-codec/src/lib.rs
  javelin-codec/src/macros.rs
  javelin-codec/src/utils.rs
Due: none

Update .gitignore
  .gitignore
Due: none

Fix some warnings
  Cargo.lock
  javelin/Cargo.toml
  javelin/src/args.rs
  javelin/src/hls/writer.rs
  javelin/src/rtmp/peer.rs
  javelin/src/web/api.rs
  javelin/src/web/server.rs
Due: build-stable, build-nightly

Move transport stream into subcrate
  Cargo.lock
  javelin-codec/Cargo.toml
  javelin-codec/src/error.rs
  javelin-codec/src/lib.rs
  javelin-codec/src/mpegts.rs
  javelin-codec/src/mpegts/error.rs
  javelin-codec/src/mpegts/transport_stream.rs
  javelin/Cargo.toml
  javelin/src/error.rs
  javelin/src/hls.rs
  javelin/src/hls/transport_stream.rs
  javelin/src/hls/writer.rs
Due: build-stable, build-nightly

Add anyhow crate for application error handling
  Cargo.lock
  javelin/Cargo.toml
  javelin/src/config.rs
  javelin/src/error.rs
  javelin/src/hls/file_cleaner.rs
  javelin/src/hls/m3u8.rs
  javelin/src/hls/server.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/bytes_stream.rs
  javelin/src/rtmp/client.rs
  javelin/src/rtmp/error.rs
  javelin/src/rtmp/event.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/server.rs
  javelin/src/web/api.rs
  javelin/src/web/server.rs
Due: build-stable, build-nightly

Lift BytesStream out of rtmp module
  javelin/src/bytes_stream.rs
  javelin/src/main.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/server.rs
Due: none

Remove useless app_names mapping from Shared
  javelin/src/rtmp/error.rs
  javelin/src/rtmp/event.rs
  javelin/src/shared.rs
Due: none

Move RTMP session out of client
  javelin/src/rtmp/client.rs
  javelin/src/rtmp/event.rs
Due: none

Remove client struct
  javelin/src/rtmp.rs
  javelin/src/rtmp/client.rs
  javelin/src/rtmp/error.rs
  javelin/src/rtmp/event.rs
  javelin/src/rtmp/peer.rs
  javelin/src/shared.rs
Due: none

Provide static configuration directly
  javelin/src/config.rs
  javelin/src/hls/server.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/rtmp/event.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/server.rs
  javelin/src/shared.rs
  javelin/src/web/server.rs
Due: none

Remove RepublishAction from config
  javelin/src/args.rs
  javelin/src/config.rs
  javelin/src/rtmp/error.rs
  javelin/src/rtmp/event.rs
Due: none

Rewite configuration loader
  .gitignore
  Cargo.lock
  javelin/Cargo.toml
  javelin/src/args.rs
  javelin/src/config.rs
  javelin/src/hls.rs
  javelin/src/hls/config.rs
  javelin/src/hls/server.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/config.rs
  javelin/src/rtmp/event.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/server.rs
  javelin/src/web.rs
  javelin/src/web/config.rs
Due: build-stable, build-nightly

Rewrite RTMP session handling
  Cargo.lock
  Cargo.toml
  javelin-codec/Cargo.toml
  javelin-rtmp/Cargo.toml
  javelin-rtmp/src/convert.rs
  javelin-rtmp/src/error.rs
  javelin-rtmp/src/lib.rs
  javelin-rtmp/src/proto.rs
  javelin-types/Cargo.toml
  javelin-types/src/data.rs
  javelin-types/src/lib.rs
  javelin-types/src/transport.rs
  javelin/Cargo.toml
  javelin/src/bytes_stream.rs
  javelin/src/main.rs
  javelin/src/media.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/error.rs
  javelin/src/rtmp/event.rs
  javelin/src/rtmp/peer.rs
  javelin/src/session.rs
  javelin/src/shared.rs
  javelin/src/web/api.rs
Due: build-stable, build-nightly

Remove shared dependency from HLS service
  javelin/src/hls.rs
  javelin/src/hls/file_cleaner.rs
  javelin/src/hls/m3u8.rs
  javelin/src/hls/server.rs
  javelin/src/hls/service.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/shared.rs
Due: none

Update dependencies
  Cargo.lock
  javelin-codec/Cargo.toml
  javelin-types/Cargo.toml
  javelin/Cargo.toml
  rust-toolchain
Due: build-stable, build-nightly

Enable HLS support again
  javelin-types/src/data.rs
  javelin/Cargo.toml
  javelin/src/hls/service.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/media.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/service.rs
Due: none

Move common functionality into core crate
  Cargo.lock
  Cargo.toml
  javelin-core/Cargo.toml
  javelin-core/src/bytes_stream.rs
  javelin-core/src/lib.rs
  javelin-core/src/session.rs
  javelin-core/src/shared.rs
  javelin/Cargo.toml
  javelin/src/hls/service.rs
  javelin/src/hls/writer.rs
  javelin/src/main.rs
  javelin/src/rtmp/peer.rs
  javelin/src/rtmp/service.rs
  javelin/src/web/api.rs
  javelin/src/web/server.rs
Due: build-stable, build-nightly

Fix some clippy lints
  javelin-core/src/session.rs
  javelin-core/src/shared.rs
  javelin/src/hls/service.rs
  javelin/src/main.rs
  javelin/src/rtmp/peer.rs
  javelin/src/web/api.rs
Due: none

Move rest of RTMP module to crate
  Cargo.lock
  javelin-rtmp/Cargo.toml
  javelin-rtmp/src/config.rs
  javelin-rtmp/src/error.rs
  javelin-rtmp/src/lib.rs
  javelin-rtmp/src/peer.rs
  javelin-rtmp/src/service.rs
  javelin/Cargo.toml
  javelin/src/config.rs
  javelin/src/main.rs
  javelin/src/rtmp.rs
  javelin/src/rtmp/error.rs
Due: build-stable, build-nightly

Path conditions:
  build-stable: any of: Cargo.toml, Cargo.lock, src/**/*.rs
  build-nightly: any of: Cargo.toml, Cargo.lock, src/**/*.rs
  test-clippy: any of: src/**/*.rs
